/*
 * Author: Roland Kluge
 */

/* =============================================================================
 * general
 * =============================================================================
 */

* {
    font-family: sans-serif;
}

.homeLink {
    font-size: 150%;
}

.errorMessage {
    color: red;
}

/* =============================================================================
 * index
 * =============================================================================
 */

#usersList ul,
#booksList ul {
    list-style: none;
}

#usersList li, 
#booksList li {
    clear: both;
    list-style: none;
}

#usersList .user, 
#booksList .book {
    border: lightgrey solid 1px;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}

#usersList .drop,
#usersList .edit,
#booksList .drop,
#booksList .edit {
    float: right;
    margin: 5px;
}

#usersList div,
#booksList div {
    float: left;
}

.userId,
.bookId {
    display: inline;
}

.userName,
.bookName {
    display: inline;
}

.bookDescription {
    color: #AAAAAA;
}

/* =============================================================================
 * viewbook
 * =============================================================================
 */

#newEntry #icon {
    vertical-align: middle;
    display: inline-block;
    float: left;
}

#newEntry #text {
    vertical-align: middle;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    font-size: 150%;
    float: left;
}

#entriesList {
    font-size: 150%;
    border-collapse: collapse;
}

#entriesList td {
    border: #AAAAAA solid 1px;
}

#entriesList thead {
    font-weight: bold;
}

#entriesList .entryDate {
    width:  20%;
}

